---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Departamento BellaVista - Aviso Legal">
	<main class="container mx-auto px-4 py-8">
        <h1 class="text-black text-3xl font-bold mb-4">Aviso Legal</h1>
        <p class="mb-4">
            Esta página web, incluyendo todo su contenido (textos, imágenes, código, diseño, etc.), es propiedad exclusiva de BellaVista. Todos los derechos reservados.
        </p>
        <p class="mb-4">
            Se prohíbe la copia, reproducción, distribución, modificación o cualquier otro uso no autorizado de esta página web y su contenido. Si deseas utilizar cualquier parte de esta web, debes obtener un permiso expreso por escrito de BellaVista.
        </p>
        <p class="mb-4">
            El uso no autorizado de esta página web y su contenido puede dar lugar a acciones legales.
        </p>
	</main>
</Layout>
