---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Departamento BellaVista - ¿Qué hay en el departamento?">
    <div class="w-full h-auto flex justify-center items-center p-2">
        <div class="border-2 border-black rounded-2xl p-6 mt-4 w-[80%]">
            <h1 class="text-black text-2xl font-bold mb-2">
                ¿Qué hay en el departamento?
            </h1>
            <div class="flex flex-col md:flex-row">
                <p class="text-black text-[16px] font-medium md:w-[60%]">
                    El departamento cuenta con una suite pricipal con baño privado y otra habitación. Bella Vista está equipado con dos baños, el baño privado de la suite y un baño de visitas. También tiene una sala-comedor y cocina completamente equipados.
                </p>
            </div>
        </div>
    </div>
    <h1 class="text-black text-3xl font-bold mt-6 ml-6">
        Partes del departamento:
    </h1>
    <div class="grid grid-cols-2 p-10 mt-[-1rem] lg:grid-cols-[60%_40%] gap-4">
        <div class="border-2 border-black rounded-2xl p-6">
            <h1 class="text-black text-2xl font-bold mb-2">
                SALA-COMEDOR:
            </h1>
            <p class="text-black text-[16px] font-medium">
                En la sala podrás encontrar una televisión Full HD de 32", con Netflix y Prime Video para que veas tus películas y series favoritas. Además en el departamento contamos con conexión WIFI con una muy buena velocidad.
                En la sala tenemos un sofá de dos plazas, una butaca y una mesita central.
                En la parte del comedor, hay una mesa redonda con capacidad para 6 personas.
            </p>
            <div class="inline-flex">
                <img src="/Images/FotosDepartamento/sala.webp" class="w-60 h-55 mt-[1rem] rounded-2xl" alt="Vista de la sala">
                <img src="/Images/FotosDepartamento/comedor.webp" class="w-60 h-55 mt-[1rem] ml-[2rem] rounded-2xl" alt="Vista del comedor">
            </div>
        </div>
        <div class="border-2 border-black rounded-2xl p-6">
            <h1 class="text-black text-2xl font-bold mb-2">
                COCINA:
            </h1>
            <p class="text-black text-[16px] font-medium">
                Es una cocina sencilla, práctica y útil. Equipada con electrodomesticos de gran calidad, de la marcca BEKO, hechos en Turquía.
            </p>
            <img src="/Images/FotosDepartamento/cocina.webp" class="w-60 h-55 mt-[1rem] rounded-2xl" alt="Vista de la cocina">
        </div>
    </div>
    <div class="grid grid-cols-2 p-10 mt-[-3rem] lg:grid-cols-[50%_50%] lg:col-span-2">
        <div class="border-2 border-black rounded-2xl p-6">
            <h1 class="text-black text-2xl font-bold mb-2">
                SUITE:
            </h1>
            <p class="text-black text-[16px] font-medium">
                La suite cuenta con un baño privado, con armarios empotrados de madera, una cama doble y una televisión Full HD, con Amazon Prime, Netflix y YouTube preinstalados, preparados para ver una película o ver algún video en YouTube.
                Esta tiene un baño privado, con una bañera, un espejo, un tocador y un espejo de armario.
            </p>
            <img src="/Images/FotosDepartamento/suite.webp" class="w-60 h-55 mt-[1rem] rounded-2xl" alt="Vista de la suite">
        </div>
        <div class="border-2 border-black rounded-2xl ml-5 p-6">
            <h1 class="text-black text-2xl font-bold mb-2">
                HABITACIÓN:
            </h1>
            <p class="text-black text-[16px] font-medium">
                Esta habitación cuenta con una cama doble y un armario empotrado con múltiples sitios para guardar ropa y todas tus cosas. (Hay la opción de una cama monoplaza más por un extra en el precio).
            </p>
            <img src="/Images/FotosDepartamento/habitacion1.webp" class="w-60 h-55 mt-[1rem] rounded-2xl" alt="Vista de la habitación">
        </div>
    </div>
    <div class="grid grid-cols-2 p-10 mt-[-3rem] lg:grid-cols-[100%] lg:col-span-2">
        <div class="border-2 border-black rounded-2xl p-6">
            <h1 class="text-black text-2xl font-bold mb-2">
                BAÑO:
            </h1>
            <p class="text-black text-[16px] font-medium">
                El baño cuenta con una bañera, un espejo, un tocador y un espejo de armario.
            </p>
            <img src="/Images/FotosDepartamento/bano.webp" class="w-60 h-55 mt-[1rem] rounded-2xl" alt="Vista del baño">
        </div>
    </div>
</Layout>