<footer class="w-full h-auto bg-[#1b43bd] mx-auto mb-auto px-2 py-4">
    <div class="flex flex-col p-3 max-w-7xl mx-auto">
        <h1 class="text-white text-[14px] sm:text-[15px] md:text-[16px] font-bold mb-2 text-center sm:text-left">
            Si necesita ayuda o alguna duda, no dude en contactarnos mandando un<a href="mailto:correo@prueba.com" class="text-neutral-400 hover:text-neutral-600"> correo electrónico</a>
        </h1>
        <h1 class="text-white text-[14px] sm:text-[15px] md:text-[16px] font-bold mb-2 text-center sm:text-left">
            También puede contactarnos por telefono <a href="tel:123456789" class="text-neutral-400 hover:text-neutral-600">123456789</a>
        </h1>
        <p class="text-neutral-950 text-[14px] sm:text-[15px] md:text-[16px] font-bold mt-4 mb-1 text-center sm:text-left">
            &copy; 2025 BellaVista. Todos los derechos reservados. <a href="/aviso-legal" class="text-neutral-400 hover:text-neutral-600">Nuestro Aviso Legal</a>
        </p>
    </div>
</footer>