<footer class="w-full h-auto bg-[#1b43bd] mx-auto mb-auto px-2 py-4 flex">
    <div class="flex flex-col p-3">
        <h1 class="text-white text-[16px] font-bold mb-2">
            Si necesita ayuda o alguna duda, no dude en contactarnos mandando un<a href="mailto:martin08abm@gmail.com" class="text-neutral-400 hover:text-neutral-600"> correo electrónico</a>
        </h1>
        <h1 class="text-white text-[16px] font-bold mb-2">
            También puede contactarnos por telefono <a href="tel:+34632931217" class="text-neutral-400 hover:text-neutral-600">632931217</a>
        </h1>
        <p class="text-neutral-950 text-[16px] font-bold mt-4 mb-1">
            &copy; 2025 BellaVista. Todos los derechos reservados. <a href="/aviso-legal" class="text-neutral-400 hover:text-neutral-600">Nuestro Aviso Legal</a>
        </p>
    </div>
</footer>