<header class="w-full h-auto bg-[#278BC4] mx-auto mb-auto px-4 py-8 flex">
    <div class="block ml-10">
        <h1 class="text-black text-5xl font-bold mt-[-5px]">Departamento BellaVista</h1>
        <p class="text-xl text-black font-semibold mt-2">Departamento Bella Vista, el mejor de Cochabamba</p>
    </div>
    <div class="absolute right-20 mt-2">
        <button id="registrarse" class="border-2 border-black rounded-2xl font-medium px-1 h-10 mr-4 bg-blue-600 hover:bg-blue-400">Registrarse</button>
        <button id="iniciarSesion" class="border-2 border-black rounded-2xl font-medium px-1 h-10 cursor-pointer bg-blue-600 hover:bg-blue-400">Iniciar Sesión</button>
    </div>
</header>