<main class="w-full h-auto flex justify-center items-center">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-[60%_40%] mt-6 sm:mt-8 md:mt-10 p-4 sm:p-6 md:p-8 lg:p-10 gap-4 sm:gap-6 md:gap-8 w-full max-w-7xl">
        <div class="border-2 border-black rounded-3xl p-4 sm:p-5 md:p-6">
            <h1 class="text-black text-xl sm:text-2xl font-bold mb-2 text-center md:text-left">
                ¿Qué es Bella Vista?
            </h1>
            <div class="flex flex-col md:flex-row items-center md:items-start">
                <p class="text-black text-[14px] sm:text-[15px] md:text-[16px] font-medium md:w-[60%] text-center md:text-left mb-4 md:mb-0">
                    Bella Vista, es un departamento que se encuentra en el condominio AMBAR, el más grande de la zona Muyurina.
                    Este se ancuentra en la Av. Aniceto Arce cerca de muchas zonas de ocio y de interés turístico, como por ejemplo, el Cristo de la Concordia, una de las estatuas más importantes de la ciudad de Cochabamba.
                    También está cerca de calles con muchos comercios, como puede ser la Av. Papa Paulo, o la Av. ramón Rivero, sobre la que se encuentra el Cine Center. Un lugar espectacular para pasar tiempo con família o amigos.
                </p>
                <img src="/Images/FotosDepartamento/sala2.webp" class="w-64 h-auto sm:w-72 md:w-40 md:ml-[2rem] rounded-2xl" alt="Vista de la sala">
            </div>
        </div>
        <div class="border-2 border-black rounded-3xl p-4 sm:p-5 md:p-6">
            <h1 class="text-black text-xl sm:text-2xl font-bold mb-2 text-center md:text-left">
                ¿Bella Vista, por qué este nombre?
            </h1>
            <div class="flex flex-col md:flex-row items-center md:items-start">
                <p class="text-black text-[14px] sm:text-[15px] md:text-[16px] font-medium md:w-[60%] text-center md:text-left mb-4 md:mb-0">
                    El departamento tiene el nombre de Bella Vista, debido a las hermosas vistas que se tienen desde las ventanas y del balcón.
                    Desde aquí se puede ver el cerro de San Pedro y en su cima el Cristo de la Concordia, además de esto también se tienen unas hermosas vistas de la sierra de Cochabamba y de parte del Tunari.
                </p>
                <img src="/Images/FotosDepartamento/fotoCondominio.webp" class="w-64 h-auto sm:w-72 md:w-40 md:ml-[2rem] rounded-2xl" alt="Vistas exteriores">
            </div>
        </div>
        <div class="border-2 border-black rounded-3xl p-4 sm:p-5 md:p-6 col-span-1 md:col-span-2">
            <h1 class="text-black text-xl sm:text-2xl font-bold mb-2 text-center md:text-left">
                ¿Qué hay cerca de aquí?
            </h1>
            <div class="flex flex-col md:flex-row items-center md:items-start">
                <p class="text-black text-[14px] sm:text-[15px] md:text-[16px] font-medium md:w-[70%] lg:w-[80%] text-center md:text-left mb-4 md:mb-0">
                    Cerca de nuestro departamento hay diversos sitios de ocio, que van desde el entretenimiento con la família y amigos hasta la restauración. Por ejemplo:
                    En las cercanías esta el Cine Center, un lugar perfecto para ir a ver una película o pasar un buen tiempo jugando en la sala de juegos que tienen. Además, en este también hay una plaza de comidas para recargar energias y seguir jugando.
                    Si se quiere tener una mejor experincia también se puede ir a la Recoleta, un boulevard en el que hay muchos bares y restaurantes.
                    Además cerca también está la Universidad Católica, la facultad de medicina y por si lo necesitas, también está es Hospital Viedma.
                </p>
                <img src="/Images/Sitios_cercanos/CineCenter.webp" class="w-64 h-auto sm:w-72 md:w-60 md:ml-[2rem] rounded-2xl" alt="Imagen del CineCenter desde fuera">
            </div>
        </div>
    </div>
</main>
<div class="flex justify-center sm:justify-start">
    <a href="/Departamento" class="mx-auto sm:mx-0 sm:ml-6 md:ml-10 mb-6 sm:mb-8">
        <button class="border-2 border-black rounded-2xl font-medium px-4 py-2 h-10 cursor-pointer bg-blue-600 transition-ease-in-out hover:bg-blue-400 w-full">
            Ver más del departamento
        </button>
    </a>
</div>