<main class="w-full h-auto flex flex-col justify-center items-center">
    <!-- Primera Sección de Información -->
    <div class="border-2 border-black w-[60%] h-70 rounded-3xl mt-10 p-4">
        <h1 class="text-black text-2xl font-bold mt-[-2px] mb-2">
            ¿Que es Bella Vista?
        </h1>
        <div class="flex flex-row">
            <p class="text-black text-[16px] font-medium w-[60%]">
                Bella Vista, es un departamento que se encuentra en el condominio AMBAR, el más grande de la zona Muyurina.
                Este se ancuentra en la Av. Aniceto Arce cerca de muchas zonas de ocio y de interés turístico, como por ejemplo, el Cristo de la Concordia, una de las estatuas más importantes de la ciudad de Cochabamba.
                También está cerca de calles con muchos comercios, como puede ser la Av. Papa Paulo, o la Av. ramón Rivero, sobre la que se encuentra el Cine Center. Un lugar espectacular para pasar tiempo con família o amigos.
            </p>
            <img src="/Images/FotosDepartamento/sala2.webp" class="w-40 mt-[-30px] ml-[6rem] rounded-2xl" alt="Vista de la sala">
        </div>
    </div>
    <!-- Segunda Sección de Información -->
    <div class="border-2 border-black w-[60%] h-60 rounded-3xl mt-10 p-4">
        <h1 class="text-black text-2xl font-bold mt-[-2px] mb-2">
            ¿Bella Vista, porque este nombre?
        </h1>
        <div class="flex flex-row">
            <p class="text-black text-[16px] font-medium w-[60%]">
                El departamento tiene el nombre de Bella Vista, debido a las hermosas vistas que se tienen desde las ventanas y del balcón.
                Desde aquí se puede ver el cerro de San Pedro y en su cima el Cristo de la Concordia, además de esto también se tienen unas hermosas vistas de la sierra de Cochabamba y de parte del Tunari.
            </p>
            <img src="/Images/FotosDepartamento/fotoCondominio.webp" class="w-40 mt-[-45px] ml-[6rem] rounded-2xl" alt="Vistas exteriores">
        </div>
    </div>
    <!-- Tercera Sección de Información -->
    <div class="border-2 border-black w-[60%] h-83 rounded-3xl mt-10 p-4">
        <h1 class="text-black text-2xl font-bold mt-[-2px] mb-2">
            Y...¿Que hay cerca de aquí?
        </h1>
        <div class="flex flex-row">
            <p class="text-black text-[16px] font-medium w-[60%]">
                Cerca de nuestro departamento hay diversos sitios de ocio, que van desde el entretenimiento con la família y amigos hasta la restauración. Por ejemplo:
                En las cercanías esta el Cine Center, un lugar perfecto para ir a ver una película o pasar un buen tiempo jugando en la sala de juegos que tienen. Además, en este también hay una plaza de comidas para recargar energias y seguir jugando.
                Si se quiere tener una mejor experincia también se puede ir a la Recoleta, un boulevard en el que hay muchos bares y restaurantes.
                Además cerca también está la Universidad Católica, la facultad de medicina y por si lo necesitas, también está es Hospital Viedma.
            </p>
            <img src="/Images/Sitios_cercanos/CineCenter.webp" class="w-60 h-50 mt-[-5px] ml-[3rem] rounded-2xl" alt="Imagen del CineCenter desde fuera">
        </div>
    </div>
</main>