---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Departamento BellaVista - Aviso Legal">
	<main>
        <h1 class="text-black text-2xl font-bold mb-2">Aviso Legal</h1>
        <p>
            Esta página web, incluyendo todo su contenido (textos, imágenes, código, diseño, etc.), es propiedad exclusiva de [Tu Nombre/Nombre de tu Empresa]. Todos los derechos reservados.
        </p>
        <p>
            Se prohíbe la copia, reproducción, distribución, modificación o cualquier otro uso no autorizado de esta página web y su contenido. Si deseas utilizar cualquier parte de esta web, debes obtener un permiso expreso por escrito de [Tu Nombre/Nombre de tu Empresa].
        </p>
        <p>
            El uso no autorizado de esta página web y su contenido puede dar lugar a acciones legales.
        </p>
	</main>
</Layout>